@charset "utf-8";
/*----------- 重置样式 ----------------*/
html{-webkit-text-size-adjust:none;}
*html{background-image:url(about:blank); background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
*{margin: 0; padding: 0; list-style: none;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
body{padding:0; margin:0; font: 14px/1.5 "Microsoft YaHei",微软雅黑,'黑体','宋体',tahoma,Verdana,arial,sans-serif; color:#333; background-color: #fff; min-width: 1200px;}
input,textarea,select,button,label{vertical-align:middle; font-family:"Microsoft YaHei",微软雅黑;}
textarea{resize:none;}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,a,form,input,label,select{margin:0; padding:0; list-style:none;}
a{color:#333; text-decoration:none; outline:none; -webkit-transition: all 0.4s; transition: all 0.4s;}
a:hover{color:#045da6; text-decoration:none; -webkit-transition: all 0.4s; transition: all 0.4s;}
a img{border:none;}
.fl{float:left;}
.fr{float:right;}
.clear{margin:0; overflow:hidden; visibility:hidden; font-size: 0; content: "."; clear: both; height: 0; padding:0;}
.filter-clear:after, .clearfix:after{visibility:hidden; display: block; font-size: 0; content:" "; clear:both; height:0;}
* html .clearfix{zoom: 1;} /* IE6 */
*:first-child+html .clearfix{zoom: 1;} /* IE7 */
h1,h2,h3{font-weight: normal; line-height: 1;}
button:focus{outline: none;}
input:focus{ outline: none;}


/* button交互效果 */
.button {
  display: block;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button--wapasha{
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--wapasha::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}


/* header */
.xl-header{
  position: relative;
  height: 105px;
  background-color: #24243D;
}

.header-top{
  background: rgba(0, 0, 0, 0.2);
}

.header-top .content{
  width: 1200px;
  line-height: 34px;
  margin: 0 auto;
  color: #666;
  font-size: 12px;
}

.header-bottom{
  width: 100%;
  border-top: 1px solid #444;
  background-color: #24243D;
}

.header-bottom-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-bottom .content{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
} 

.logo-wraper{
  padding: 14px 0;
}

.logo-wraper img{
  display: block;
  height: 42px;
}

.nav-wraper{
  margin-left: 20px;
  overflow: hidden;
}

.nav-wraper li{
  float: left;
  height: 70px;
  padding: 0 18px;
}

.nav-wraper li a{
  position: relative;
  display: block;
  line-height: 70px;
  color: #fff;
}

.nav-wraper li a::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3269FF;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.nav-wraper li:hover a{
  color: #3269FF;
}

.nav-wraper li.cur a::after,
.nav-wraper li:hover a::after{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.header-right-wraper{
  padding: 17px 0;
  overflow: hidden;
}

.search-wraper{
  padding-right: 20px;
}

.search-box{
  position: relative;
  height: 34px;
  border-radius: 18px; 
  background: rgba(255, 255, 255, 0.02); 
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.search-box input{
  float: left;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: none  ;
  color: #999;
  font-size: 12px;
  text-indent: 15px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-box input.unfold{
  width: 140px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-submit{
  width: 34px;
  height: 34px;
  border-radius: 0 18px 18px 0;
  border: none;
  background: url(../img/search_icon.png) no-repeat center center;
  background-size: 14px 14px;
  cursor: pointer;
}

.search-mask {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.btns-waper{
  line-height: 36px;
}

.login-reg-btn{
  display: block;
  padding: 0 20px;
  line-height: 34px;
  background: #3269FF;
  border-radius: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-reg-btn:hover{
  background: #2F63F2;
  color: #fff !important;
}

.btns-waper a{
  margin: 0 6px;
  color: #fff;
} 
.btns-waper a:hover{
  color: #3269FF;
}

/* footer */
.xl-footer{
  width: 100%;
}

.publish-banner{
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  padding: 35px 0;
  background: url(../img/publish_bg.png) no-repeat center center;
  text-align: center;
  color: #fff;
}

.publish-banner p{
  margin-bottom: 16px;
  line-height: 45px;
  letter-spacing: 2px;
  font-size: 32px;
}

.publish-banner button{
  margin: 0 auto;
  width: 220px;
  line-height: 48px;
  background: #FFFFFF; 
  border-radius: 24px;
  font-size: 16px;
  color: #2C84FF;
  border: none;
  cursor: pointer;
}

.publish-banner button:hover{
  background: none;
  color: #fff;
}

.footer-wraper{
  width: 100%;
  background-color: #24243D;
}

.footer-wraper .content{
  width: 1200px;
  margin: 0 auto;
}

.foot-row{
  padding: 60px 0 40px;
  overflow: hidden;
}

.foot-logo-box .logo{
  display: block;
  width: 120px;
}

.foot-logo-box .hotline{
  margin: 16px 0;
  line-height: 22px;
  font-size: 16px;
  color: #FEFFFF;
}

.foot-logo-box .qrcode{
  display: block;
  width: 90px;
}

.foot-nav{
  overflow: hidden;
}

.foot-nav dl{
  float: left;
  width: 170px;
}

.foot-nav dl:last-child{
  width: auto;
}

.foot-nav dl dt{
  margin-bottom: 16px;
  line-height: 1;
}

.foot-nav dl dt a{
  color: #fff;
}

.foot-nav dl dd{
  line-height: 34px;
}

.foot-nav dl dd a{
  color: rgba(255, 255, 255, 0.3);
}

.foot-nav dl dd a:hover{
  color: #3269FF;
}

.foot-flink{
  padding: 20px 0;
  line-height: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.foot-flink a{
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.3);
}
.foot-flink a:hover{
  color: #3269FF;
}

.footer-bottom{
  background-color: #1C1C30;
  line-height: 64px;
  text-align: center;
  color: rgba(254, 255, 255, 0.3);
}

.xl-sidebar{
  position: fixed;
  bottom: 100px;
  left: 50%;
  z-index: 101;
  margin-left: 620px;
  width: 80px;
  padding: 24px 0 8px;
  background: #3269FF;
  border-radius: 8px;
}

.xl-sidebar li{
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}

.xl-sidebar li .icon{
  display: block;
  width: 38px;
  height: 38px;
  background: url(../img/sidebar_icons.png) no-repeat;
  margin: 0 auto 8px;
}

.xl-sidebar li .icon1{
  background-position: 0 0;
}

.xl-sidebar li .icon2{
  background-position: 0 -76px;
}

.xl-sidebar li .icon3{
  background-position: 0 -38px;
}

.xl-sidebar li p{
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.contact-box{
  position: absolute;
  left: -350px;
  top: 0;
  width: 313px;
  padding: 24px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px 0px rgba(47, 56, 111, 0.1);
  border-radius: 12px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-box-show{
  left: -325px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-box .code{
  width: 90px;
}

.contact-box .code img{
  display: block;
  width: 100%;
}

.contact-box .code p{
  font-size: 12px;
  text-align: center;
  color: #333;
}

.contact-box .content{
  position: relative;
  width: 130px;
  padding-left: 24px;
  line-height: 32px;
}

.contact-box .content::before{
  position: absolute;
  left: 0;
  top: 26px;
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background: rgba(0, 0, 0, 0.08);
}

#pagination{
  padding-top: 20px;
  text-align: center;
}

#pagination .layui-laypage a, #pagination .layui-laypage span{
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #EFEFEF;
  font-size: 14px;
}

#pagination .layui-laypage .layui-laypage-curr .layui-laypage-em{
  background-color: #3269FF;
}